/*variables.less*/
/*Colors*/
/*Common LESS mixins*/
body {
  margin: 0px;
  padding: 0px;
  font-family: 'HelveticaNeue, Helvetica, Segoe, Sans-Serif, Arial';
}
#header {
  color: black;
  border-bottom: 1px solid #808080;
  padding: 10px;
}
#header .navigation {
  font-size: 12px;
}
#boardWrapper {
  margin: 10px 5%;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
#boardWrapper #board div {
  width: 10%;
  height: 10%;
  border: 1px solid #808080;
  display: inline;
  float: left;
  text-align: center;
  font-weight: bold;
  padding: 5px 0px;
  /*.box-sizing;*/
  /*&:nth-child(3n+3){
				background-color: red;
			};*/
}
#boardWrapper #board div.gray {
  background-color: #efefef;
}
#boardWrapper #board div.verticalBorder {
  border-right: 1px solid red;
}
#boardWrapper #numberSelector {
  padding: 20px 0px;
  clear: both;
  text-align: center;
}
#boardWrapper #numberSelector span {
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  font-weight: bold;
  border: 1px solid #808080;
  margin: 0px 2px;
  padding: 3px 7px;
  color: #ffffff;
  background-color: #1FBAD6;
}
#boardWrapper #timer {
  clear: both;
  display: block;
  padding: 5px 0px;
  font-weight: bold;
}
#boardWrapper #timer #minutes {
  font-size: 14px;
}
#boardWrapper #timer #seconds {
  font-size: 14px;
}
