@import "variables.less";
@import "mixins.less";

body{
    margin:0px auto;
    padding: 0px;
    font-family:@font-family;
    font-size:14px;
    min-width:300px;
}

#header {
    color: black;
    border-bottom: 1px solid @gray;
    padding:0px 10px;
    background-color: @headerBlue;
    color:@white;
    margin-bottom:20px;
    text-align: center;
    h1{
        font-size:20px;
        margin:0px;
        padding:10px 0px;
    }
    .navigation {
        font-size: 12px;
    }
}
#boardWrapper{
    margin:10px 5%;
    .box-sizing;

    #boardheader{
        clear:both;
        #levels{
            padding-bottom:15px;
            float:left;
            span {
                margin:5px;
                padding:3px 5px;
                border:1px solid @gray;
                .rounded(5px);
                text-transform: capitalize;
                &.selected {
                    background-color: @buttonColor;
                    .transition(0.5,ease-in-out);
                }
            }
        }
        #timer {
            float:right;
            display:inline-block;
            font-weight:bold;
            #minutes{
                font-size:14px;
            }
            #seconds{
                font-size:14px;
            }
        }
    }

    #board{
        border-top:1px solid @gray;
        border-left:1px solid @gray;
        overflow:auto;
        clear:both;
        div{
            width:11%;
            height:10%;
            border-right:1px solid @gray;
            border-bottom:1px solid @gray;
            display:inline;
            float:left;
            text-align:center;
            font-weight:bold;
            padding:5px 0px;
            cursor:pointer;
            line-height:20px;
            .box-sizing;
            &.gray{
                background-color: @lightgray;
            }
            
            &.defaults {
                cursor: default;
                color:@disabledColor;
            }
            &.selected{
                background-color: @buttonColor;
                .transition(0.3,ease-in-out);
            }
        }
    }
    #numberSelector{
        padding:20px 0px;
        clear:both;
        text-align: center;
        span {
            .rounded(30px);
            font-weight:bold;
            border:1px solid @gray;
            margin:0px 2px;
            padding:3px 8px;
            color:@white;
            background-color: @buttonColor;
        }
    }
    #settings {
        margin-top: 20px;
    }
    .btn {
        .rounded(5px);
        margin:5px;
        padding:3px 5px;
        text-transform: capitalize;
        background-color: @buttonColor;
        border:1px solid @gray;
    }
}

@media (min-width: 320px) {
    #boardWrapper #board div{
        line-height: 25px;
    }
}
@media (min-width: 767px) {
    #boardWrapper{
        max-width:850px;
        margin:0 auto;
        text-align: center;
         #board div{
            line-height: 35px;
        }
    }
}
